<main >
    <div class="card">
        <h1 class="card-title">
                Join to Rooms
            </h1>
            <div class="card-body">
                <form (ngSubmit)="searchRoom()" #search="ngForm">
                    <div class="form-group">
                        <input [(ngModel)]="name" class="form-control" type="text" name="roomName" placeholder="Name room">
                        <input #submit class="form-control mt-1 btn btn-success" type="submit" value="Search Room">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <swal #swal></swal>
<router-outlet name="rooms"></router-outlet>
