//Light theme
.btn-bg-light {
    box-shadow: 0px 9px 31px rgba(255, 255, 255, 0.58);
    border-radius: 113px;
}
.text-primary{
  color:#428EFE;
}

//Dark theme
.btn-bg-dark {
  box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.58);
  border-radius: 113px;
}
.text-secondary{
color:#428EFE;
}