:host{
    width: 100%;
  }
#banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    width: auto;
}

#banner-img{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        min-height:300px ;
        max-height: 500px;
        min-width:300px ;
        max-width: 500px;
        background-image: url('/assets/images/banner.png');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
}
@media screen and (max-width:767px) {
    #banner-img{
        display: none;
    }
}