//Navigation Bar
#logo{
width: 150px;
}
.bg-nav{
    background-color: #9F45B0;
}
.bg-nav-scroll{
    background-color:#9F45B0;
}
nav{
    transition: 0.5s;
}
//Nav-links
.nav-link{
    font-weight: 100;

}
.nav-link.active{
    
}