<div id="tools" class="row">
    <div class="tool-card col">
        <div class="card">
            <img  class='card-img'src="/assets/icons/Angular.png" alt="Angular">
            <div class="card-body">
                <h5 class="text-primary">Angular</h5>
            </div>
        </div>
    </div>
    <div class="tool-card col">
        <div class="card">
            <img class='card-img' src="/assets/icons/Bootstrap.png" alt="Bootstrap">
        </div>
    </div>
    <div class="tool-card col">
        <div class="card">
            <img class='card-img' src="/assets/icons/Socket-io.png" alt="Socket.io">
        </div>
    </div>
</div>
