
.content{
    display: flex;
    flex-direction: column;
}
@mixin content($bg) {
  align-items: center;
  background-color: $bg;
  border-radius: 50px;
  display: inline-block;
  height: auto;
  min-width: 200px;
  width: auto;
  max-width: 80%;
  overflow: hidden;
}
.message {
  align-items: center;
  display: flex;
  padding: 20px;
  position: relative;
  width: 100%;
  .message-sender{
    position: absolute;
    top: 0px;
    margin: 0px;
  }
  img {
    margin: 10px;
    height: 80px;
    border-radius: 50px;
  }
}
.message-sended {
  @extend .message;
  margin-left: auto;
  flex-direction: row-reverse;
  .message-content {
    @include content(#FFE4F2);
    .message-text{
      color: rgb(0, 0, 0);
    }
  }
  .time {
    margin: 0px auto 0px 0px;
  }
}
.message-recived {
  @extend .message;
  margin-right: auto;
  flex-direction: row;
  .message-content {
    @include content(#9F45B0);
    .message-text{
      color: #ffff;
    }
  }
  .time {
    margin: 0 0 0 auto;
  }
}

.message-text{
    margin:20px;
    word-wrap: break-word;
}
