<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="header">
      <h5 class="card-title overflow-text">
        Know our
        <p>Services</p>
      </h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p class="overflow-text">
          This application provide an integration with the Giphy API for a better chat experience. Also we think that our pop-up alerts may need to be up to date so we implements a sweetAlert2 style. Finally we improve a sign in using google firebase so you can be sure that your information is secure
        </p>
      </div>
      <app-button-link theme="light" text="Go to services" path="/services"></app-button-link>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="icon-services">
      <img src="/assets/icons/Giphy.png" alt="Giphy" />
      <img src="/assets/icons/sweetAlert2.png" alt="SweetAlert" />
      <img src="/assets/icons/Firebase-Auth.png" alt="Firebase Auth" />
    </div>
  </div>
</div>
