@use './scss/config.scss';


:root{
  --c-primary:#F8BBD0
}

html,body{
  margin: 0px;
  padding: 0px;
  border-radius: 0%;
  color:var(--bs-light);
}

li{
  list-style: none;
}

.btn{
  border-radius: 30px;
}

.nav-link {
  color:white;
}

.img-md{
  height: 300px;
  width: 300px;
}
.container-fluid, .row{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
