@use './scss/config.scss';


html,body{
  margin: 0px;
  padding: 0px;
  border-radius: 0%;
  color:var(--bs-light);
}

.btn{
  border-radius: 30px;
}

.nav-link {
  color:white;
}

.img-md{
  height: 300px;
  width: 300px;
}
.container-fluid, .row{
  width: 100%;
  margin: 0px;
  padding: 0px;
}